<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo de Encabezado</title>
    <link rel="stylesheet" href="header.component.css">
</head>
<body>
    <header class="main-header">
        <div class="logo">
            <img src="https://static.vecteezy.com/system/resources/previews/027/126/149/original/world-map-on-globe-silhouette-for-icon-symbol-app-website-pictogram-logo-type-art-illustration-or-graphic-design-element-format-png.png" alt="Logo de Países">
            <h1>Pais App</h1>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Explorar</a></li>
                <li><a href="#">Mis Países</a></li>
            </ul>
        </nav>
        <div class="user-login">
            <a href="#" class="login-button">Registrarse</a>
        </div>
    </header>
</body>
</html>
